@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200..1000&display=swap');
$darkgreen: #1A3E3E;
$like_white: #FDFDFD;
$fon: #F3F5F4;
$white: white;
$yellow: #F2BE22;
$fontNunito: Nunito Sans;
$karlik: 14px;
$little: 16px;
$normal: 18px;
$large: 50px;
$biger: 32px;
$medium: 24px;
$weight_little: 300;
$weight_small: 400;
$weight_medium: 500;
$weight_big: 600;
$weight_large: 700;
$weight_giant: 800;
